<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>


      <div *ngIf="onlyOdd">
      <ul class="list-group">
        <li
          class="list-group-item" *ngFor="let number of oddNumbers">
          {{number}}
        </li>
      </ul>

        </div>
          <div *ngIf="!onlyOdd">
            <ul class="list-group">
              <li
                class="list-group-item" *ngFor="let number of evenNumbers">
                {{number}}
              </li>
            </ul>
          </div>
  <p appBasicHighLight> this balise is styled by our first Directive Attribute</p>
      <p appBetterHightLight [lawal]="'blue'" [tani]="'yellow'">this balise is styled by our better attribute directive </p>
    </div>
  </div>
</div>


